@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




.main {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  margin-top: 10%;
}

.mySwiper {
  width: 328px;
}

.swiper-slide {
  width: 60px !important;

  height: 60px !important;
  /* display: flex !important;
  flex-wrap: nowrap !important; */
  background-color: #030E1C !important;
  box-shadow: none;
  border-radius: 10px;
  background-size: cover;

  /* border: 1px solid white; */
  /* text-align: center;
  font-family: "Courier New", Courier, monospace; */
  /* background-image: url(./assets/slideBG.png); */
  color: #ffffff;
}
.testimonials-profile-circle {
  align-items: center;
  display: flex;
  box-shadow: none;
  justify-content: center;
  /* padding-top: 20px; */
}
.testimonial-avatar {
  width: 60px;
  height: 60px;
  box-shadow: none;
  border: 3px solid #1d8ba0;
  border-radius: 50%;
}




/* 
.mySwiper {
  width: 328px;
  box-shadow: none;
}
.swiper-wrapper{
  box-shadow: none;
}
.swiper-slide {
  text-align: center;
  box-shadow: none;
  background-color: transparent !important;
  border-radius: 10px;
  background-size: cover;
  color: #ffffff;
}

.swiper-slide-visible{
  background-color: transparent !important;
  width: 32px;
  height: 32px;
  box-shadow: none;
}
.swiper-slide-active{
  filter: blur(0px);
}
.testimonials-profile-circle {
  align-items: center;
  display: flex;
 box-shadow: none;
  justify-content: center;

}

.testimonial-avatar {
  width: 56px;
  height: 56px;
  border: 3px solid #1d8ba0;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  border: 2px solid #1d8ba0 !important;
  border-radius: 1px !important;
  width: 30px !important;
  height: 1px !important;
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  border: 2px solid #1d8ba0 !important;
  border-radius: 1px !important;
  width: 90px !important;
  height: 1px !important;
} */















